.scrollspymenu{
	position: fixed;
	right: 0;
}

.scrollspymenu nav ul{
	background-color: lightgrey;
	padding-left: 0;
	list-style:none;
	background-color: #fff;	
}
.scrollspymenu ul li{
	border-bottom: 1px #e7e7e7 solid;
}

.scrollspymenu nav ul li a{	
	color: #777;
	display: block;	
	padding: 10px 15px;
	line-height: 20px;
	text-decoration: none;
}

.scrollspymenu nav ul li a:hover{
	color: #333;	
}

.scrollspymenu nav ul li.active a{
	color: #333;
	background-color: #fff;
}

.active .scrollprogress {
    background-image: url(../img/bg_gray.png);
    background-size: 0px 60px;
	background-repeat: no-repeat;
    display: block;
    margin: -10px -14px;
    padding: 10px 14px;    
	
}