.scrollspymenu{
	background-color: lightgrey;
	padding-left: 0;
	list-style:none;
}

.scrollspymenu li a{
	background-color: #e7e7e7;
	display: block;	
	padding: 10px 15px;
	line-height: 20px;
	text-decoration: none;
}

.scrollspymenu  li a:hover{
	color: #555;
	background-color: lightgray;
}

.scrollspymenu li.active a{
	color: #555;
	background-color: lightgray;
}